* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ::selection{
    color: red;
} */

body {
    /* height: 100vh; */
    width: 100%;
    color: white;
    background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);

}

/* 
header {
    /* background-color: aquamarine; */
/* background-color: black;
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between; */

/* }  */

.main-head {
    /* border-bottom: 5px solid red; */
    /* background-color: aquamarine; */
    /* background-color: black; */
    background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;



}

.logo {
    padding-left: 25px;
    font-size: 25px;
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(237,3,32,0.87) 20.8%, rgba(242,121,1,0.84) 74.4% ); */

    background-image: linear-gradient(109.6deg, rgba(247, 253, 166, 1) 11.2%, rgba(128, 255, 221, 1) 57.8%, rgba(255, 128, 249, 1) 85.9%);
    /* -webkit-background-clip: text; */
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.head-2 {

    display: flex;
    justify-content: space-between;
}

ul a {
    text-decoration: none;
    color: white;
    display: flex;
    padding-right: 70px;
    font-size: 20px;
}

.head-2 :hover {
    color: red;
}

.main-container {
    /* height: calc(100vh - 50px); */
    /* background-color: beige; */
    padding-top: 100px;
    /* height: 100vh; */
}

.home {
    display: flex;
    /* height: calc(100vh - 50px); */
    /* background-color: rgba(0, 0, 0, 0.831); */
    /* background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%); */
    /* height: 100vh; */
}

.left {
    width: 50%;
    padding-left: 30px;
}

.right {
    width: 50%;
    background-image: url(/portfolio/images/2\ suraj.png);
    background-size: cover;
    /* clip-path: ellipse(32% 40% at 50% 50%); */

}

/* .right img { */
/* height: 100%;
    width: 100%; */
/* clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%); */
/* clip-path: ellipse(32% 40% at 50% 50%); */
/* clip-path: ellipse(32% 45% at 50% 50%); */

/* } */

.name {
    padding-top: 30px;

}

.name span h2 {
    font-size: 25px;
}

.name span h1 {
    font-size: 50px;
}

.name span h3 {
    font-size: 25px;
}

p {
    padding-top: 30px;
    font-size: 23px;
    line-height: 7vh;
}

.name h1 {
    color: red;
    font-size: 40px;
    /* padding-left: 70px; */
}


.social-media {
    margin-top: 30px;
    /* background-color: white; */
    display: inline-block;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    /* text-decoration: none; */
}

.social-media a {
    color: rgb(215, 25, 25);
    /* background-color: azure; */
    background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);

    border-radius: 200px;
    padding: 10px;
    text-shadow: 0.5px 0.5px 0.5px #2a2626;


}

.cv a {
    text-decoration: none;
    /* color: rgb(215, 25, 25); */
    color: white;
    /* background-color: azure; */
    background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);

    border-radius: 200px;
    padding: 10px;
    text-shadow: 0.5px 0.5px 0.5px #2a2626;
}


.social-media .fa {
    /* padding: 20px; */
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}



/* .fa-facebook {
    background: #3B5998;
    color: white;
  } */

.download {
    background-color: white;
    height: 15px;
    width: 15px;
}

.con {
    padding-top: 40px;
    display: flex;
    padding-left: 30px;
    gap: 40px;
    font-size: 25px;
}

.con span {

    /* background-color: aqua; */
    color: rgb(230, 224, 224);
    /* background-color: red; */
    background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);
    /* padding-top: 300px; */
    border-radius: 200px;
    padding: 10px;
}

.con a {
    /* padding-top: 30px; */
    text-decoration: none;
}


.about {
    /* padding-top: 50px; */
    /* height: calc(100vh - 50px); */
    /* height: 100vh; */
    /* background-color: brown; */
    /* display: flex; */
    /* display: grid; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.about-left-right {
    display: flex;
}

.a-left {
    width: 50%;
}

.a-left h3 {
    font-size: 30px;
}

.a-left h1 {
    font-size: 50px;
}

.a-right {
    width: 50%;
}

ul {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns:1fr; */
    /* width: 100%; */
    /* padding-left: 100px; */
    list-style: none;

}

/* li img{
    height: 150px;
    width: 150px;
} */



.project {
    /* height: 100vh; */
    /* background-color: chartreuse; */
    padding: 30px;

}

.p-img {
    /* display: flex; */
    /* justify-content:space-around; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: 250px 250px ; */
    /* grid-template-rows: 250px 250px; */
    /* width:100% */
    gap: 20px;
    padding-top: 20px;

}

.p-img p {
    text-align: center;
    font-size: 30px;
}

/* .p-img{
    background-image: url(/portfolio/images/calci.png);
    
} */



.contact {
    /* padding-top: 50px; */
    padding-top: 30px;
    /* height: 100vh; */
    height: calc(100vh - 50px);
    padding-left: 30px;
    display: flex;
}

.c-left h1 {
    font-size: 40px;
}

.c-left {
    /* height: 100vh; */
    width: 50%;
}

.c-right {
    /* height: 100vh; */
    width: 50%;
}

.form-input {
    padding-top: 20px;
}

footer {
    /* background-color: white; */
    border-top: 1px solid white;
    height: 100px;
    text-align: center;
}

/* ------------ On Click or hover changes----------  */

.head-2 a :hover {
    border-bottom: 1px solid red;

}

.fa:hover {
    opacity: 0.7;
}

.con :hover {
    color: red;
}